<div class="log">
  <div class="user-image">
  </div>
  <div class="user-name clearfix">
    <%= room_chat_log.user.username %>
    <div class="text">
     <p><%= room_chat_log.log %></p>
    </div>
  </div>
</div>