// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.room{
    border:solid 1px black;
    li{
        float:left;
        border:solid 1px black;
        padding:5px;
        margin:20px;
        width:200px;
        height:110px;
        list-style-type:none;
        &:last-child:after{
            clear:both;
        }
        &:nth-child(5) {
            margin-left:0px;
        }
    }
    
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.cueItem{
    border:solid 1px hotpink;
    width:200px;
    height:180px;
    background-color:black;
    float:left;
}

#playlist li {
    display: block;
    width: 148px;
    height: 170px;
    float: left;
    margin: 0;
    padding: 10px;
    img{
        width:100%;
    }
    a {
        display:block;
    }
}



.box{
    overflow:hidden;
}

.playing {
    border:solid 2px hotpink;
}