// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul{
    padding:0px;
}


input, textarea {
  /* すべてのテキストフィールドのフォント設定を一致させる
     デフォルトで、textarea は等幅フォントが設定されている */
  font: 1em sans-serif;

  /* すべてのテキストフィールドを同じサイズにする */
  width: 300px;
  box-sizing: border-box;

  /* テキストフィールドのボーダーの外見を同一にする */
  border: 1px solid #999;
}



.room{
    border:solid 1px black;
    li{
        float:left;
        border:solid 1px black;
        padding:5px;
        margin:20px;
        width:200px;
        height:110px;
        display: inline-block;
        list-style-type:none;
        &:last-child:after{
            clear:both;
        }
        &:nth-child(5) {
            margin-left:0px;
        }
    }
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.playlist-wrapper{
    width:70%;
    float:left;
    border-right:dashed 8px gray;

}

#playlist {
    white-space:nowrap;
    overflow-x:auto;
    li {
        display: inline-block;
        width: 148px;
        height: 200px;
        margin: 0;
        padding: 3px;
        color:white;
        &:hover{
            cursor:pointer;
            background-color:#ccc;
        }
        img{
            width:100%;
        }
    }
    
}

.syncbutton {
    font-size:23px;
    height:23px;
    width:23px;
    left: 35%;
    top: 8px;
    margin:0 auto;
    &:hover{
        cursor:pointer;
    }
}

.memberNum{
    height:20px;
}

.loges{
    width:100%;
    height:280px;
    padding:5px;
    overflow:scroll;
}

.log{
    border:solid 1px ;
    margin-top: 5px;
}

.comment{
    width:100%;
    height:60px;
    padding:5px;
    background-color:white;

}

.user-image{
    border: solid 1px;
    float:left;
    width: 38px;
    height: 38px;
}

.user-name{
    border: solid 1px;
    width: 100%;
}

.text{
    margin-left:16px;
}

.cueplaylist{
    width:100%;
    border-top: solid 3px rgb(50,50,50);
    background-color:#3B3B3B;
}

#player{
    float:left;
}

#chat{
    float:left;
    //border:solid 1px black;
    width:500px;
    height:359px;
    box-sizing:boder-box;
    background-color:white;
}

.box{
    overflow:hidden;
    
}

.room-block2 {
    margin: 0 auto;
    width: 1140px;
}

.playing {
    border:solid 2px hotpink;
}

.index-menu {
    border:solid 1px black;
    font-size:25px;
    
    a{
        color:black;
    }
}

.multiline-text {
    width: 124px;
    height: 78px;
    overflow: hidden;
    white-space: normal;
}

.room-ichiran{
    width:200px;
    margin:0 auto;
}


.Addform{
    width: 300px;
    height: 127px;
    padding:30px;
    float:left;
}

.add-url
{
    color:white;
}

.field{
    margin-top:15px;
}

.horizontal-list{
    
    
}